<div id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
        <span class="closer" id="modal-close">&times;</span>
        <input type="text" placeholder="deletion password" class="form-control my-2" id="deletion-password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-modal="true">Yes</button>
        <button type="button" class="btn btn-secondary" data-modal="false">No</button>
      </div>
    </div>
  </div>
</div>